* {
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
    box-sizing: border-box;
    
}

.container {
    width: 100%;
    /* height: 120vh; */
    display: flex;
    align-items: center;
    justify-content: center;
    background: #B5C18E;

}

.CV {
    margin: 20px;
    padding: 30px;
    width: 60%;
    background: #F7DCB9;
    border-radius: 20px;
    border: 2px solid #914F1E;
}

.CV h1 {
    font-size: 56px;
}

.CV h2 {
    font-size: 24px;
    color: #914F1E;
    border-bottom: 2px solid #914F1E;
}

.CV h3 {
    color: #914F1E;
    
}


.left {
    width: 25%;
    float: left;
    margin: 0 20px 0 0;
    /* letter-spacing: -0.06em; */
}

.left h3 {
    color: #914F1E;
    border-bottom: 2px solid #914F1E;
    /* width: 80%; */
}

.right {
    /* width: 75%; */
    float: 30 auto;
    text-align: justify;
    /* letter-spacing: -0.06em; */
}

.right h3 {
    color: #914F1E;
    border-bottom: 2px solid #914F1E;
    position: relative;
    /* right: 0; */
    display: inline-block;
    /* width: 80%; */
}



.right li {
    text-align: justify;
}

.firstname {
    color: #914F1E;
}



